button {
  cursor: pointer;
  user-select: none;
}

button:hover {
  text-decoration: underline;
}

.btn-primary,
.btn-secondary {
  border: 2px solid black;
  border-radius: 5px;

  font-size: clamp(1.1rem, 2vw, 1.1rem);
  font-weight: 800;
}

.btn-primary:hover,
.btn-secondary:hover {
  filter: brightness(0.9);
}

.btn-primary {
  background-color: black;
  color: white;
}

.btn-secondary {
  background-color: white;
  color: black;
}

.btn-small {
  cursor: pointer;
  white-space: nowrap;
  border: 2px solid #ca0000;
  background-color: #ca0000;
  color: #ffffff;
  border-radius: 5px;

  font-size: 1.1rem;
  font-weight: 700;
}

.btn-small:nth-child(2) {
  border: 2px solid #da6900;
  background-color: #da6900;
}

.btn-small:nth-child(3) {
  border: 2px solid #ddbb00;
  background-color: #ddbb00;
}

.btn-small:nth-child(4) {
  border: 2px solid #3bb901;
  background-color: #3bb901;
}
