button {
  cursor: pointer;
  user-select: none;
}

button:hover {
  text-decoration: underline;
}

.btn-primary,
.btn-secondary {
  border: 2px solid black;
  border-radius: 5px;

  font-size: clamp(1.25rem, 2vw, 1.5rem);
  font-weight: 800;
}

.btn-primary:hover,
.btn-secondary:hover {
  filter: brightness(0.9);
}

.btn-primary {
  background-color: black;
  color: white;
}

.btn-secondary {
  background-color: white;
  color: black;
}

.btn-small {
  border: 2px solid black;
  border-radius: 5px;

  font-size: 1rem;
  font-weight: 700;
}
