.container {
  width: min(calc(100% - 2rem), 1400px);
  margin-inline: auto;

  h2 {
    text-align: center;
    margin-bottom: 120px;
  }

  display: flex;
  flex-direction: column;

  button {
    width: fit-content;
    margin-inline: auto;

    margin-top: 120px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.product {
  padding: 2rem;

  border-radius: 10px;

  transition: background-color 200ms ease;

  svg {
    transition: transform 300ms ease;
  }
}

.product:hover {
  cursor: pointer;
  user-select: none;

  background-color: rgba(0, 0, 0, 0.019);

  // p {
  //   color: white !important;
  // }

  p:first-child {
    text-decoration: underline;
  }

  svg {
    transform: translate(5px);
  }
}

.product:active {
  background-color: rgba(0, 0, 0, 0.156);
  transition: none;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 40px;
}

@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .container {
    h2 {
      margin-bottom: 40px;
    }

    button {
      margin-top: 40px;
    }
  }

  .product {
    padding: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .container {
    h2 {
      text-align: left;
    }

    button {
      margin-inline: 0;
    }
  }
}
