.bg {
  position: sticky;
  top: 0;
  // transition: background-color 200ms ease;

  background-color: white;

  z-index: 2;

  // /* From https://css.glass */
  // background: rgba(255, 255, 255, 0.787);
  // // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  // backdrop-filter: blur(10px);
  // -webkit-backdrop-filter: blur(10px);
  // // border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.container {
  width: min(calc(100% - 2rem), 1400px);
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  h6 {
    font-size: 12px;
  }

  ul:not(:last-child) {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin: 0;

    a {
      height: 100%;
      padding: 0 1rem;
    }

    li {
      font-size: 1.25rem;

      height: 5rem;

      display: flex;
      align-items: center;
      justify-content: center;

      opacity: 0.8;

      position: relative;
    }

    li:not(.active):hover {
      background-color: #ffffff;
    }

    li.active {
      opacity: 1;
    }
  }

  ul:last-child {
    display: flex;
    gap: 1rem;
  }
}

.cart {
  position: relative;

  button {
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    margin: 0;
    padding: 0;

    color: inherit;

    padding: 5px;
  }

  button span {
    position: absolute;
    top: 0;
    right: -10px;

    background-color: red;
    height: 1.25rem;

    padding: 5px;

    border-radius: 10rem;

    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
  }

  button:hover {
    background-color: #00000013;
  }
}

@media screen and (max-width: 1000px) {
  .container ul:not(:last-child) {
    margin-left: auto;
  }

  .container ul:last-child {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .container ul:not(:last-child) {
    display: none;
  }
}
