.bg {
  background-color: #fff;
  color: #000;

  position: sticky;
  top: 0;

  z-index: 1;
}

.container {
  width: min(calc(100% - 2rem), 1400px);
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 0;
    margin: 0;
  }

  li {
    height: 100%;

    font-size: 1.25rem;

    padding-block: 1rem;

    position: relative;
  }

  li.active::after {
    content: "";
    position: absolute;

    left: 0;
    right: 0;
    top: 95%;
    bottom: 0;

    background-color: black;
  }
}

.cart {
  position: relative;

  button {
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    margin: 0;
    padding: 0;
  }

  button span {
    position: absolute;
    top: 10px;
    right: -10px;

    background-color: red;
    height: 1.25rem;

    padding: 5px;

    border-radius: 10rem;

    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
  }

  button:hover {
    background-color: #f2f2f2;
  }
}

@media screen and (max-width: 700px) {
  .container li:not(:last-child) {
    display: none;
  }
}
