.bg {
  background-color: #358457;
}

.container {
  display: grid;
  grid-template-columns: 35% 1fr;
  column-gap: 3rem;

  align-items: center;

  width: min(calc(100% - 10rem), 1400px);
  margin-inline: auto;
}

.imageContainer {
  overflow: hidden;

  max-height: 30rem;

  display: flex;

  img {
    margin-top: 3rem;
    width: 100%;
    height: 100%;
  }
}

.content {
  color: #fff;

  h1 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column-reverse;

    text-align: center;

    padding-bottom: 3rem;
  }

  .content {
    margin-top: 3rem;
  }

  .content p {
    max-width: 600px;
  }

  .imageContainer {
    max-height: 15rem;
    align-items: flex-end;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: min(calc(100% - 2rem), 1400px);
  }
  .imageContainer {
    width: 100%;
  }

  .content {
    text-align: left;

    width: 100%;
  }
}
