.container {
  width: min(calc(100% - 10rem), 1200px);
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;

  padding-block: 5rem;

  svg {
    margin-right: 5px;
    margin-left: 5px;
  }
  h1 {
    margin-bottom: 2rem;
  }

  p:first-of-type {
    margin-bottom: 3rem;
  }

  button {
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;

    width: 100%;

    padding: 2rem;
    gap: 2rem;
  }
}
