.container {
  display: flex;
  flex-direction: column;

  text-align: center;

  width: min(calc(100% - 2rem), 700px);
  margin-inline: auto;

  margin-block: 200px;

  h1 {
    margin-bottom: 50px;
  }

  h2 {
    margin-bottom: 50px;
  }

  button {
    width: fit-content;
    margin-inline: auto;

    margin-top: 75px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    margin-block: 200px;

    h2 {
      margin-bottom: 20px;
    }

    button {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    margin-block: 100px;
    text-align: left;

    button {
      margin-inline: 0;
    }
  }
}
